/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}
/*Global styles*/
html {
    /*Makes the math when using rem units simple*/
    font-size: 10px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;;
    background-image: url(https://i.pinimg.com/originals/7e/de/19/7ede19dcad79685ef8271989d62932b0.jpg);
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
section {
    padding: 5rem 0;
}
/*Reusable styles*/
.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.btn {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
}
.btn-gradient {
    background-image: var(--gradient-color);
}
.btn-gradient:hover {
    background-image: var(--gradient-color-alt);
}
.dots {
    font-size: 2.4rem;
    margin-left: .5rem;
    opacity: .75;
}
.form-btn {
    margin-top: 2.5rem;
    cursor: pointer;
}
.btn-purple {
    background-color:orange;
    transition: background-color .5s;
}
.btn-purple:hover {
    background-color: navy;
}
/*Header styles*/
.header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--purple-transparent);
    z-index: 999;
    transition: background-color .5s, height .5s;
}

.header.active{
    background-color: rgba(0, 0, 128, 0.37);
}
/*Header styles - nav*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-image {

    max-width: 80%;
    
}
.hamburger-menu {
    font-size: 2.6rem;
    color: #fff;
    cursor:pointer;
    position: relative;
    z-index: 1500;
}
.close-state {
    display: none;
}
.menu-open .open-state {
    display: block;
}
.menu-open .close-state {
    display: block;
}
.nav-list {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.menu-open .nav-list {
    opacity: 1;
    transform: scale(1);
}
.nav-item:not(:last-child) {
    margin-bottom: .5rem;
}
.nav-link {
    display: block;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}
/*Hero section styles*/
/*Hero section styles*/
.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--purple-transparent-alt);
    z-index: -1;
}
.main-heading {
    color: #fff;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgba(0, 0, 0, .5);
    margin-bottom: 2.5rem;
}
.title {
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.sub-title {
    font-size: 3.6rem;
    font-family: 'Courgette', cursive;
    font-weight: 300;
}
/*Booking section styles*/
.booking {
    background-color: navy;
}
.input-group {
    margin-bottom: 1.5rem;
}
.input-label {
    display: block;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}
.input,
.options {
    outline: none;
    border: none;
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
    resize: none;
}
::placeholder {
    color: inherit;
}
/*Hotels section styles*/
.section-head {
    text-align: center;
    margin-bottom: 5rem;
}
.heading {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
}
.sub-heading {
    font-size: 1.7rem;
    font-family: 'Courgette', cursive;
    font-weight: 300;
    color: #a5a5a5;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2.5rem;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.featured-hotels {
    height: 35rem;
    color: #fff;
    padding: 1rem;
    position: relative;
    z-index: 0;
}
.featured-hotels::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--purple-transparent-alt);
    z-index: -1;
}
.hotel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hotel-name {
    font-size: 2.6rem;
}
.hotel-price {
    font-size: 1.8rem;
}
.hotel-rating {
    margin: 1rem 0 2.5rem;
}
.rating {
    color: var(--yellow-solid);
}
/*Special offer section styles*/
.offer {
    background: linear-gradient(to right, rgba(250, 158, 44, 0.8), rgba(143, 80, 251, 0.8)), 
    url("") bottom center no-repeat;
    background-size: cover;
}
.offer-content {
    background-color: #fff;
    text-align: center;
    padding: 5rem 1rem;
    position: relative;
    overflow: hidden;
}
.discount {
    background-color: var(--yellow-solid);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    outline: 2px solid var(--yellow-solid);
    outline-offset: .5rem;
}
.paragraph {
    color: #a5a5a5;
    margin-bottom: 2.5rem;
}
/*Rooms section styles*/
.rooms {
    background-color: #f2f6f9;
}
.image-wrap {
    position: relative;
    height: 25rem;
}
.image-wrap::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--purple-transparent-alt);
    position: absolute;
    top: 0;
    left: 0;
}
.room-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.room-name {
    font-size: 2.6rem;
    background-color: var(--yellow-solid);
    color: #fff;
    padding: .5rem 2rem;
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    z-index: 10;
}
.room-price {
    display: block;
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--yellow-solid);
}
.per-night {
    color: var(--dark-color);
    font-size: 1.4rem;
    font-weight: 100;
}
.rooms-btn {
    color: var(--dark-color);
    padding: 0;
    transition: color .5s;
}
.rooms-btn:hover {
    color: var(--yellow-solid);
}
/*Contact section styles*/
.contact-content {
    display: flex;
    justify-content: center;
}
.traveler-wrap {
    display: none;
}
.contact-form {
    width: 100%;
    background-image: var(--gradient-color);
    padding: 2.5rem;
}
.contact-form .input {
    display: block;
    background-color: transparent;
    color: #fff;
    font-weight: normal;
    border-bottom: 2px solid #fff;
    padding-left: 0;
}
.bar {
    display: block;
    position: relative;
}
.bar::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--purple-light);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}
.contact-form .input:focus+.bar::after {
    transform: scaleX(1);
}
/*Footer section styles*/
.footer{
    padding: 5rem 0;
    background-color: navy;
    color: #fff;
}
.footer-content-brand{
    margin-bottom: 5rem;
}
.footer .paragraph{
    color: inherit;
}
.footer-heading{
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.social-media{
    display: flex;
}
.sm-link{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border: 2px solid var(--yellow-solid);
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
    transition: background-color .5s;
}
.sm-link:hover{
    background-color: var(--yellow-solid);
    color: var(--dark-color);
}
.sm-link i{
    margin: auto;
}
/*Media queries*/
@media screen and (min-width: 768px){
    /*Header section styles*/
    .header{
        height: 10rem;
    }
    .header.active{
        height: 6rem;
    }
    /*Hero section styles*/
    .title{
        font-size: 8rem;
    }
    /*Contact section styles*/
    .contact-content{
        justify-content: space-between;
    }
    .traveler-wrap{
        display: block;
        flex: 0 0 45%;
    }
    .traveler-wrap img{
        width: 100%;
    }
    .contact-form{
        flex: 0 0 50%;
        align-self: flex-start;
    }
    .input-group-wrap{
        display: flex;
    }
    .input-group-wrap .input-group{
        width: 50%;
        margin-right: 2rem;
    }
    .input-group-wrap .input-group:last-child{
        margin-right: 0;
    }
    /*Footer section styles*/
    .footer{
        overflow-x: hidden;
    }
    .footer-content{
        display: flex;
    }
    .footer-content-brand{
        margin-bottom: 0;
        flex: 0 0 60%;
    }
    .footer .paragraph{
        margin-top: 2.5rem;
    }
    .footer-heading{
        margin-bottom: 5rem;
    }
    .social-media-wrap{
        flex: 0 0 40%;
        margin-left: 2.5rem;
    }
}
@media screen and (min-width: 1000px){
    section:not(.booking){
        padding: 10rem 0;
    }
    /*Header section styles*/
    .hamburger-menu{
        display: none;
    }
    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: initial;
        flex-direction: row;
        justify-content: initial;
        opacity: 1;
        transform: scale(1);
    }
    .nav-item:not(:last-child){
        margin-right: 3rem;
        margin-bottom: 0;
    }
    .nav-link{
        font-size: 1.3rem;
        font-weight: normal;
        transition: color .5s;
    }
    .nav-link:hover{
        color: var(--yellow-solid);
    }
    /*Hero section styles*/
    .title{
        font-size: 12rem;
    }
    .sub-title{
        font-size: 4.6rem;
    }
    /*Booking section styles*/
    .book-form{
        display: flex;
        justify-content: space-between;
    }
    .book-form .input-group{
        margin-bottom: 0;
    }
    .book-form .input-group:first-child{
        flex: 0 0 20%;
    }
    .input,
    .options{
        min-width: 10rem;
    }
    /*Rooms section styles*/
    .rooms-grid{
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 8rem;
    }
    .featured-rooms{
        flex-direction: row;
        align-items: flex-start;
    }
    .room-info-wrap{
        margin-left: 1.5rem;
    }
}
@media screen and (min-width: 1200px){
    .book-form .input-group:first-child{
        flex: 0 0 30%;
    }
}


.home h2 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.08em;
    margin: 0 0 50px;
    text-align: center;
    text-transform: uppercase;
}
.section-head span{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.08em;
    margin: 0 0 50px;
    text-align: center;
    text-transform: uppercase;
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
    
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
  }
  .fa-bars {
list-style-type: style;
    color:#fff;
    
  }
  
.navbar {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20.8px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: orangered;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: navy;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(196, 196, 196, 0.979);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color:orangered;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: rgba(0, 0, 128, 0.315);
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  
  /* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(51, 51, 51, 0.116);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float:inline-end;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position:static;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  
